/* MovieCard.jsx Styles */
.movie-card{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    max-width: 18rem;
    height: 60vh;
}

.movie-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* Floating Add Button */
.add-btn{
    position:absolute;
    top:12px;
    left:12px;

    width:42px;
    height:42px;

    border:none;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:28px;
    font-weight:600;

    color:#fff;
    background:rgba(0,0,0,.65);
    backdrop-filter:blur(8px);

    cursor:pointer;

    opacity:0;
    transform:translateY(-10px);

    transition:all .25s ease;

    z-index:5;
}

/* Floating Add Button */
.delete-btn{
    position:absolute;
    top:12px;
    right:6px;

    width:42px;
    height:42px;

    border:none;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:28px;
    font-weight:600;

    color:#fff;
    background:rgba(0,0,0,.65);
    backdrop-filter:blur(8px);

    cursor:pointer;

    opacity:0;
    transform:translateY(-10px);

    transition:all .25s ease;

    z-index:5;
}

/* Show only on hover */
.movie-card:hover .add-btn{
    opacity:1;
    transform:translateY(0);
}
.movie-card:hover .delete-btn{
    opacity:1;
    transform:translateY(0);
}

.movie-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

/* Hover effect */
.add-btn:hover{
    background:#29b6f6;
    transform:scale(1.1);
}
.delete-btn:hover{
    background:#f62989;
    transform:scale(1.1);
}

/* Added */
.add-btn.added{
    opacity:1;
    background:#22c55e;
    color:white;
}

.add-btn:disabled{
    cursor:default;
}